
<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>


  <div>
        <h3 style="color: darkmagenta">Renk Seçimi</h3>
    <ul class="list-group">
        <li [class]="getAllColorClass()" routerLink="/cars" >Tüm ürünler</li>
        <li (click)="setCurrentColor(color)" *ngFor="let color of colors"
             routerLink="/cars/color/{{color.colorId}}" 
             [class]="getCurrentColorClass(color)" class="list-group-item">{{color.colorName}}</li>
    </ul>


      
</div>

