
<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>


  
<div>
  <h3 style="color: darkmagenta">Marka Seçimi</h3>

    <ul class="list-group">
        <li [class]="getAllBrandClass()" routerLink="/cars" >Tüm ürünler</li>
        <li (click)="setCurrentBrand(brand)" *ngFor="let brand of brands"
             routerLink="/cars/brand/{{brand.brandId}}" 
             [class]="getCurrentBrandClass(brand)" class="list-group-item">{{brand.brandName}}</li>
    </ul>


      
</div>


