
<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>



<div>

  <select (change)="selectChangeHandler($event)" [(ngModel)]="brandId"  class="form-select" aria-label="Default select example">

    <option selected  routerLink="cars" >Tüm ürünler</option>
  
    <option  *ngFor="let brand of brands" 
    [selected]="getCurrentBrandClass(brand.brandId)"class="form-select" [value]="brand.brandId"   >{{brand.brandName}}</option>
  

  </select> 

  <button routerLink="cars/brand/{{brandId}}"    type="button" class="btn btn-success" style="width: 90px;" >Filtrele</button>


</div>



