
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" *ngFor="let customer of customers " style="display: inline-block; margin-right: 8px; margin-bottom: 8px;" >

    <div class="col" >
      <div class="card shadow-sm" style="width: 400px;">
  
        <div class="card-body" >
          <p  class="card-text">{{customer.companyName}}</p>
          <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button  type="button" type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                <button routerLink="/customers/add" type="button" class="btn btn-sm btn-outline-secondary">Add</button>
  
              </div>   
            <small class="text-muted">Customer Id : {{customer.customerId}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
