
<div class="content" style="width: 40%; margin-left: 400px;">


    <div class="col-md-12">


        <div class="card">

            <div class="card-header"><h5 class="title">Araba Güncelle</h5></div>
            <div  class="card-body">
                <form [formGroup]="carUpdateForm">
  
                   
                    <div class="mb-3">
                        <label  for="carName">Araba Adı</label>
  
                         <div  class="form-group">
                             <input type="text" id="carName" formControlName="carName" class="form-control" placeholder="carName"/>  <!--ilişkilendirme formControlName ile yapılır-->
                         </div>
                    </div>
                   
                    <div class="mb-3">
                        <label for="brandId">Marka numarası</label>
  
                        <div class="form-group">
                            <input type="number" id="brandId" formControlName="brandId" class="form-control" placeholder="colorId"/>  <!--ilişkilendirme formControlName ile yapılır-->
                        </div>
                    </div>
                   
                    <div class="mb-3">
                        <label for="colorId">Renk numarası</label>
  
                        <div class="form-group">
                            <input type="number" id="colorId" formControlName="colorId" class="form-control" placeholder="colorName"/>  <!--ilişkilendirme formControlName ile yapılır-->
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="unitPrice">Birim Fiyatı</label>
  
                        <div class="form-group">
                            <input type="number" id="unitPrice" formControlName="unitPrice" class="form-control" placeholder="unitPrice"/>  <!--ilişkilendirme formControlName ile yapılır-->
                        </div>
                    </div>
                   
  
                </form>
  
            </div>
            <div class="card-footer">
  
                <button class="btn btn-fill btn-primary" (click)="update()">Güncelle</button>
  
            </div>
        </div>

    </div>
    <img src="/assets/images/rentacarupd.png" width="400" height="400" alt=""  >

   
  
  </div>
  