<div class='container'>
    <div class="card mx-auto col-md-5 col-8 mt-3 p-0"> 
        
        
        <img class='mx-auto pic' src="/assets/images/carlogo.png">


        
        <div class="card-title d-flex px-4">
            <p class="item text-muted">Barcelona<label class="register">&reg;</label> Chair</p>
            <p>$5760</p>
        </div>
        <div class="card-body" *ngFor = "let card of cards">
            <p class="text-muted">Your payment details</p>
            <div class="numbr mb-3"> 
                <i class=" col-1 bi bi-credit-card text-muted p-0"></i>
                 <input class="col-10 p-0" type="text" placeholder=" Card Number" value=" {{card.cardNumber}}"></div>
                <div class="line2 col-lg-12 col-12 mb-4"> <i class="col-1 bi bi-calendar-minus text-muted p-0"></i> <input class="cal col-5 p-0" type="text" placeholder=" MM/YY" value=" {{card.expDate}} "><i class="col-1 bi bi-lock text-muted"></i> <input class="cvc col-5 p-0" type="text" placeholder="CVC" value="{{card.cvv}}"> 
            
            </div>
        </div>
        <div class="footer text-center p-0">
            <div class="col-lg-12 col-12 p-0">
                <p class="order">Order Now</p>
            </div>
        </div>
    </div>
</div>