<!-- 
  
  <div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div class="mb-3">
    <label for="filterText" class="form-label">Ürün ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi giriniz" aria-describedby="emailHelp">
  
  </div>
  
  <div *ngIf="filterText" class="alert alert-success">
      {{filterText}} aradınız
  </div>

<table *ngIf="dataLoaded==true" class="table">
    <thead class="table-dark">
        <tr>
            <th>CarId</th>
            <th>Araba İsmi</th>
            <th>Marka Adı</th>
            <th>Renk Adı</th>
            <th>Birim Fiyatı</th>
            <th>KDV'li Fiyat</th>
            <th style="text-align: center;">Detay Bilgiler</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars | filterPipe:filterText">
        <td>{{car.carId}}</td>
        <td>{{car.carName |uppercase}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.unitPrice |currency:"TRY":"₺":""}}</td>
        <td>{{car.unitPrice |vatAdded:18 |currency: "TRY":"₺":"" }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
          <button  routerLink="/cars/cardetail/{{car.carId}}" type="button" class="btn btn-primary">Araba Detay</button>
          <button  routerLink="/cars/add" type="button" class="btn btn-primary">Araba Ekle</button>
          <button  routerLink="/cars/update/{{car.carId}}" type="button" class="btn btn-primary">Güncelle</button>
          <button type="button" class="btn btn-primary">Sil</button>
        </div>
      </td>

     </tr>
    </tbody>
   

</table>


 -->
<!-- 
 <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">


 <style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  
</style>
<body>
  
  
 <main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Rent A Car Project</h1>
        <p class="lead text-muted">This project is the result of 3 months of labor and learning phase.Together with our instructor Engin Demiroğ, we developed both backend and frontend with 3 hours of lessons 2 days a week.</p>
        <p>
          <a href="https://github.com/veyselhim" class="btn btn-secondary my-2">Github   <img src="assets/images/github.png" alt="dd"></a><br>
          <a href="https://www.linkedin.com/in/veyselhim/" class="btn btn-primary my-2">Linkedin <img src="assets/images/linkedin.png" alt="dd"></a>
        </p>
      </div>
    </div>
  </section>
<div>
  <app-color></app-color>
  <app-brand></app-brand>

</div>

 <div class="container">
  <div *ngFor="let car of cars | filterPipe:filterText" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="display: inline-block; margin-right: 8px; margin-bottom: 8px;" >
    <div class="col" >
      <div class="card shadow-sm" style="width: 400px;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
       

        
        <div class="card-body">
          <p class="card-text">{{car.carName}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button  routerLink="/cars/cardetail/{{car.carId}}" type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button  routerLink="/cars/update/{{car.carId}}" type="button" type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              <button  routerLink="/cars/add" type="button" type="button" class="btn btn-sm btn-outline-secondary">Add</button>

            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
 <div class="row" >
  <div *ngFor="let car of cars" class="card" style="width:19rem">

    <img [src]="car.images.length !== 0 ? imageBasePath+ car.images[0] : imageBasePath + defaultImg"
      class="card-img-top" alt="Image" width="100%" height="100%" />
  </div>    
  
  </div>

</main> -->

<head>

   <!-- Bootstrap core CSS -->
   <!-- <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet"> -->

   <style>
     .bd-placeholder-img {
       font-size: 1.125rem;
       text-anchor: middle;
       -webkit-user-select: none;
       -moz-user-select: none;
       user-select: none;
     }

     @media (min-width: 768px) {
       .bd-placeholder-img-lg {
         font-size: 3.5rem;
       }
     }
   </style>

   
 </head>
 <body>
   
<header>
 <div class="collapse bg-dark" id="navbarHeader">
   <div class="container">
     <div class="row">
       <div class="col-sm-8 col-md-7 py-4">
         <h4 class="text-white">About</h4>
         <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
       </div>
       <div class="col-sm-4 offset-md-1 py-4">
         <h4 class="text-white">Contact</h4>
         <ul class="list-unstyled">
           <li><a href="#" class="text-white">Follow on Twitter</a></li>
           <li><a href="#" class="text-white">Like on Facebook</a></li>
           <li><a href="#" class="text-white">Email me</a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
 <div class="navbar navbar-dark bg-dark shadow-sm">
   <div class="container">
     <a href="#" class="navbar-brand d-flex align-items-center">
       <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
       <strong>Album</strong>
     </a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   </div>
 </div>
</header>

<main>

 <section class="py-5 text-center container">
   <div class="row py-lg-5">
     <div class="col-lg-6 col-md-8 mx-auto">
       <h1 class="fw-light">Album example</h1>
       <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
       <p>
         <a href="#" class="btn btn-primary my-2">Main call to action</a>
         <a href="#" class="btn btn-secondary my-2">Secondary action</a>
       </p>
     </div>
   </div>
 </section>

 <div class="album py-5 bg-light">
   <div class="container">
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" *ngFor="let car of cars | filterPipe:filterText" >
      <div class="col" >
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body">
            <p class="card-text">{{car.carName}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
     </div>
   </div>
 </div>

</main>

<footer class="text-muted py-5">
 <div class="container">
   <p class="float-end mb-1">
     <a href="#">Back to top</a>
   </p>
   <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
   <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
 </div>
</footer>



     
 </body>










